<div id="flash">
  <% if flash %>
    <% if flash[:notice] %>	
      <h4 class="alert alert-success center">
        <%= flash[:notice] %>
      </h4>
    <% end %>
    <% if flash[:alert] %>
      <h4 class="alert alert-error center">
        <%= flash[:alert] %>
      </h4>
    <% end %>
  <% end %>
</div>
