<div class="hero-unit">
  <h1>Comic Shelf</h1>
  <h2>Host your own comic shop!</h2>
  <p>
    <%= link_to "14-day Free Trial", new_store_path, 
      class: "btn btn-success btn-large",
      id:"trial" 
    %>
    <br>
    No credit card required.
  </p>
</div>
