#current_plan {
  border: 1px solid #d9d9db;
}

a.button.red {
  background-color: #da4f49;
  border: 1px solid;
  border-color: #bd362f #bd362f #802420;
}

.trial_flash {
  color: yellow;
  &:hover{
    color: white;
  }
}
