<h1>Stripe Error</h1>
<h2>Subscription</h2>
<p>
Subscription Email: <%= @email %><br/>
Subscription Plan: <%= @plan.name %><br/>
Store ID: <%= @store.id %><br/>
</p>
<h2>Exception:</h2>
<p><%= @error_msg %></p>
