<div class="alert">
  <h3>You've chosen to cancel your subscription.</h3>
  <strong style="color:black;">Your subscription ends in <%= days_remaining @subscription.cancelation_date %></strong>
</div>
