<div id="cancel_subscription">
  <%= link_to "Cancel Subscription", '#cancel_subscription_modal' ,
    'data-toggle' => "modal",
    :class        => 'button'
  %>
</div>
<%= render 'cancel_subscription_modal' %>
